header {

  background:$primary;
  padding-top:13px;
  padding-bottom:10px;
  color:$secondary;
  box-shadow:1px 5px 15px 0 rgba(0,0,0,0.2);

  h1 {
    margin-left:60px;
    a {
      color:#222;
      &:hover, &:active, &:focus {
        color:#fff;
      }
    }
  }

}
